# OS/IDE
.DS_Store
.idea/
.vscode/
*.log

# WordPress generic core
public/wordpress.zip
public/wp-admin/
public/wp-includes/
public/index.php
public/xmlrpc.php
public/wp-*.php
public/license.txt
public/readme.html

# WordPress config
public/wp-config.php

# WordPress runtime
public/wp-content/uploads/
public/wp-content/cache/
public/wp-content/debug.log

# WordPress content exclude mu-plugins
public/wp-content/*
!public/wp-content/mu-plugins/

# Nodes
node_modules/
vendor/

# Docker
docker/.env