.ml-toggle {
  margin-bottom: 1rem;
}

.ml-toggle button {
  margin-right: .5rem;
  padding: .3rem .6rem;
  cursor: pointer;
}

.ml-toggle button.active {
  font-weight: bold;
  text-decoration: underline;
}